body {
    font-family: 'Arial', sans-serif;
}

.header, .footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.sidebar {
    background-color: #f8f9fa;
    /*padding-top: 20px;*/
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(80vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link {
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
}

.content-area {
    padding: 50px;
}

.footer {
    background-color: #343a40;
    color: white;
}
